# OS files
.DS_Store

# Python artifacts
__pycache__/
*.pyc

# Raw and converted large audio datasets
dataset/raw_mp3/
dataset/wav_16k/

# Keep metadata
!dataset/metadata/

# Ignore all audio files and test stimuli
dataset/test_stimuli/
*.wav

# Root level raw corpus
*.zip

# Large speech corpora (not pushed to git)
dataset/speech_corpus/
dataset/raw_ius/
